@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=News+Cycle:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAF5F5;
    position: relative;
    min-height: 100vh;
    padding-bottom: 130px;
}

.wrapper {
    width: 70%;
    margin: auto;
}

.header {
    background: #6797C3CC;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 4px 12px 0px #070948C2;
}

.container-header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
}

.container-header img {
    width: 369.88px;
}

.nav-header ul {
    display: flex;
    gap: 35px;
    list-style-type: none;
}

.nav-header a {
    text-decoration: none;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.36px;
    color: #181F34;
    text-transform: uppercase;
}

.sidebar-clean {
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #274784;
    z-index: -1;
    padding: 65px 0;
}

.sidebar-connect {
    height: 100%;
    position: fixed;
    top: 0;
    background-color: transparent;
    z-index: -1;
    padding: 65px 0;
    margin-left: 30px;
}

.sidebar-clean img,
.sidebar-connect img {
    height: 100%;
}

.main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about-us {
    display: flex;
    width: 945px;
    flex-direction: column;
}

.about-us h2 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #181F34;
}

.about-us p {
    font-family: Manrope;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 5px;
    color: #181F34;
}

.line-about-us {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #2338A2;
}

.line-about-us::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    width: 20px;
    height: 20px;
    background-color: #2338A2;
    transform: translateY(-50%) rotate(45deg);
}

.services {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.services h2 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 32px;
    line-height: 43.71px;
    color: #181F34;
}

.cards-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 100px;
}

.card-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #274784;
    border-radius: 30px;
    padding: 20px;
    gap: 5px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 20px;
}

.card-services span {
    color: #181F34;
}

.card-services img {
    width: 77px;
}

.circle-card-services {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-services:nth-child(1) .circle-card-services {
    background-color: #E46A4F;
}

.card-services:nth-child(2) .circle-card-services {
    background-color: #50D45D;
}

.card-services:nth-child(3) .circle-card-services {
    background-color: #4FC0E4;
}

.card-services:nth-child(4) .circle-card-services {
    background-color: #4FE4B7;
}

.card-services:nth-child(5) .circle-card-services {
    background-color: #E4CC4F;
}

.card-services:nth-child(6) .circle-card-services {
    background-color: #8A50D4;
}

.card-services:nth-child(1) .circle-card-services img {
    width: 53px;
    height: 51px;
}

.card-services:nth-child(2) .circle-card-services img {
    width: 33px;
    height: 50px;
}

.card-services:nth-child(3) .circle-card-services img {
    width: 35px;
    height: 38px;
}

.card-services:nth-child(4) .circle-card-services img {
    width: 31px;
    height: 53px;
}

.card-services:nth-child(5) .circle-card-services img {
    width: 46px;
    height: 46px;
}

.card-services:nth-child(6) .circle-card-services img {
    width: 29px;
    height: 53px;
}

.how-to-apply {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.how-to-apply h2 {
    font-family: Manrope;
    font-size: 32px;
    font-weight: 600;
    line-height: 43.71px;
    text-align: left;
    text-transform: uppercase;
}

.cards-apply {
    display: flex;
    gap: 70px;
}

.card-apply {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 260px;
    padding: 10px 15px;
    background-color: #FFFFFF;
    border-radius: 30px;
    flex-wrap: wrap;
}

.card-apply h3 {
    font-family: Manrope;
    font-weight: 800;
    font-size: 36px;
    line-height: 49.18px;
    color: #2338A2;
}

.card-apply h4 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.86px;
    color: #181F34;
    text-transform: uppercase;
}

.card-apply p {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.card-apply:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 0px);
    width: 70px;
    height: 5px;
    background-color: #2338A2;
    transform: translateY(-50%);
}

.card-apply:not(:last-child)::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -90px;
    width: 20px;
    height: 20px;
    background-color: #2338A2;
    transform: translateY(-50%) rotate(45deg);
    z-index: 1;
}

.footer {
    background: #FFFFFF33;
    box-shadow: 0px -4px 12px 0px #07094840;
    position: absolute;
    width: 100%;
    margin-top: 40px;
    bottom: 0;
}

.container-footer {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.container-footer a {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-decoration: none;
    text-transform: uppercase;
    color: #181F34;
}

.logo-footer img {
    width: 303px;
}

.profile-section {
    width: fit-content;
}

.profile-section h2 {
    font-family: Manrope;
    font-size: 32px;
    font-weight: 600;
    line-height: 43.71px;
    color: #181F34;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px;
}

.profile-section h2::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: #2338A2;
    transform: translateY(-50%);
}

.profile-section h2::before {
    content: '';
    position: absolute;
    top: 100%;
    right: 0px;
    width: 20px;
    height: 20px;
    background-color: #2338A2;
    transform: translateY(-50%) rotate(45deg);
}

.user-info span {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    color: #181F34;
}

.img-email {
    display: flex;
    align-items: center;
    gap: 30px;
}

.img-user {
    width: 120px;
    height: 120px;
    border: 4px solid blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.img-user img {
    width: 100%;
    user-select: none;
}

.add-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    border: none;
    background-color: #D9D9D9;
}

.add-img:active {
    background-color: #c7c5c5;
}

.form-tel {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: auto;
    width: fit-content;
}

.form-tel input {
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    line-height: 24.2px;
    width: 504px;
    height: 78px;
    border-radius: 30px;
    border: 1px solid #181F34;
    text-align: center;
}

.form-tel input:focus {
    outline: none;
}

.form-tel button {
    width: 213px;
    height: 68px;
    border-radius: 30px;
    background-color: #2338A2;
    border: none;
    color: #FAF5F5;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    cursor: pointer;
}

.form-tel button:active {
    background-color: #2338A2B2;
}

.applications {
    width: fit-content;
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #181F34;
    border-radius: 30px;
    gap: 150px;
    padding: 30px 35px;
    margin-top: 100px;
}

.application {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.application h3 {
    font-family: Manrope;
    font-size: 64px;
    font-weight: 800;
    line-height: 87.42px;
    color: #2338A2;
}

.application span {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 400;
    line-height: 32.78px;
}

.specialists h2 {
    font-family: Manrope;
    font-size: 32px;
    font-weight: 600;
    line-height: 43.71px;
    text-transform: uppercase;
}

.specialists {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: fit-content;
}

.search-specialists {
    display: flex;
    align-items: center;
    height: fit-content;
    margin: auto;
}

.search-specialists input {
    width: 971px;
    height: 78px;
    border-radius: 30px 0 0 30px;
    border: 1px solid #181F34;
    font-family: Inter;
    font-size: 24px;
    font-weight: 300;
    line-height: 24.2px;
    text-align: center;
}

.search-specialists input:focus {
    outline: none;
}

.search-specialists button {
    height: 100%;
    border-radius: 0 30px 30px 0;
    height: 78px;
    background-color: #2338A2;
    border: 1px solid #181F34;
    padding: 20px;
    cursor: pointer;
}

.search-specialists button:active {
    background-color: #2338A2B2;
}

.search-specialists img {
    width: 33px;
}

.cards-specialists {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 80px 120px;
}

.cards-specialists h3 {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    color: #FFFFFF;
}

.card-specialists {
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #181F34;
}

.card-specialists img {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.name-card-specialists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #4FC0E4;
}

.name-card-specialists img {
    width: 30px;
}

.name-card-specialists-blue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #4FC0E4;
}

.name-card-specialists-blue img {
    width: 30px;
}

.name-card-specialists-green {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #50D45D;
}

.name-card-specialists-purple {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #8A50D4;
}

.name-card-specialists-yellow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #E4CC4F;
}

.name-card-specialists-orange {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #E46A4F;
}

.name-card-specialists-azure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #4FE4B7;
}

.name-card-specialists-green img {
    width: 24px;
    height: 35px;
}

.name-card-specialists-purple img {
    width: 19px;
    height: 35px;
}

.name-card-specialists-yellow img {
    width: 34px;
    height: 35px;
}

.name-card-specialists-orange img {
    width: 35px;
    height: 35px;
}

.name-card-specialists-azure img {
    width: 24px;
    height: 35px;
}

.description-card-specialists {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.description-card-specialists span {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.86px;
}

.description-card-specialists a {
    color: #181F34;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.86px;
    text-align: left;
    text-decoration: none;
    margin-left: auto;
    margin-top: 15px;
}

.completed-applications {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.completed-applications h3 {
    font-family: Manrope;
    font-size: 64px;
    font-weight: 800;
    line-height: 87.42px;
    color: #2338A2;
}

.completed-applications span {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 400;
    line-height: 32.78px;
}

.client-ditails-section {
    width: fit-content;
}

.client-ditails-section h2 {
    font-family: Manrope;
    font-size: 32px;
    font-weight: 600;
    line-height: 43.71px;
    color: #181F34;
    text-transform: uppercase;
    margin-bottom: 50px;
}

/* исправить на user-info-client-ditails */
/* .client-ditails-section span {
} */

.user-info-client-ditails {
    display: flex;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    color: #181F34;
}

.inform-card {
    display: flex;
    background-color: #4FC0E480;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid #181F34;
}

.inform-card ol {
    list-style-type: none;
    counter-reset: num;
    margin: 0 0 0 60px;
    padding: 15px 0 5px 0;
    font-size: 16px;
}

.inform-card ol li {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 500;
    line-height: 32.78px;
    text-decoration: underline;
    text-decoration: 100px;
}

.inform-card ol li:before {
    content: counter(num);
    counter-increment: num;
    font-family: Manrope;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: -40px;
    /* width: 50px;     */
    color: #181F34;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

/* .marker-inform-card {
} */


/* -------------------------------------------------------------- */


.application-section {
    width: fit-content;
}

.application-section h2 {
    font-family: Manrope;
    font-size: 32px;
    font-weight: 600;
    line-height: 43.71px;
    color: #181F34;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.card-application {
    height: 444px;
    width: 1211px;
    border: 1px solid #181F34;

    border-radius: 30px;
    position: relative;
    padding: 0 0 0 100px;
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.name-application {
    border-radius: 30px 30px 0 0;
    width: 441px;
    height: 83px;
    font-family: Manrope;
    font-size: 40px;
    font-weight: 700;
    line-height: 54.64px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    position: absolute;
    left: -179px;
    top: 179px;
}

.list-application {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    height: 90%;
}

.list-application h4 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    color: #00000080;
}

.list-application h4:not(:first-child) {
    margin-top: 10px;
}

.list-application span {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    color: #181F34;
}


.list-application span:nth-of-type(4) {
    overflow-y: auto;
    max-height: 100px;
}

.price-application {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 30px 30px 0 30px;
    border: 1px solid #181F34;
    border-top: none;
    border-right: none;
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.527);
}

.price-application h4 {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 400;
    line-height: 32.78px;
    color: #00000080;
}

.price-application span {
    font-family: Manrope;
    font-size: 32px;
    font-weight: 700;
    line-height: 43.71px;
    color: #181F34;
}

.container-applications {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-bottom: 50px;
}

.window-cleaning {
    background-color: #8A50D433;
}

.window-cleaning .name-application {
    background-color: #8A50D4;
}

.dry-cleaning {
    background-color: #4FC0E433;
}

.dry-cleaning .name-application {
    background-color: #4FC0E4;
}

.room-cleaning {
    background-color: #50D45D33;
}

.room-cleaning .name-application {
    background-color: #50d45d;
}

.spring-cleaning {
    background-color: #E4CC4F33;
}

.spring-cleaning .name-application {
    background-color: #e4cb4f;
}

.cleaning-renovation {
    background-color: #D4705033;
}

.cleaning-renovation .name-application {
    background-color: #d47150;
}

.daily {
    background-color: #4fe4b731;
}

.daily .name-application {
    background-color: #4fe4b7;
}

.edit-application {
    position: absolute;
    right: 30px;
    bottom: -50px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    color: #00000080;
    text-decoration: none;
    border-bottom: 1px solid #00000080;
}

.place-customer-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: fit-content;
}

.place-customer-section h2 {
    font-family: Manrope;
    font-size: 32px;
    font-weight: 600;
    line-height: 24px;
    /* margin-left: 50px; */
}

.place-customer-section p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.2px;
    color: #181F34;   
    /* margin-left: 50px; */
}

.container-place {
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 0 50px 20px 0;
    border: 1px solid #00000080;

    width: fit-content;
}

/* .container-place ol {
    display: flex;
    flex-direction: column;
    gap: 30px;
} */

.container-place ol {
    list-style-type: none;
    counter-reset: num;
    margin: 0 0 0 45px;
    padding: 15px 0 5px 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-place li {
    position: relative;
}

.container-place li:before {
    content: counter(num);

    counter-increment: num;

    display: inline-block;

    position: absolute;

    top: 0px;

    left: -25px;

    color: #181F34;

    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 38.73px;
}

input[type="radio"] {
    display: none;
}

.radio-btn {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    margin-right: 15px;
    font-size: 16px;
}

.radio-btn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 33px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
}

.radio-btn:after {
    content: '';
    position: absolute;
    left: 12px;
    top: -1px;
    width: 7px;
    height: 15px;
    border: solid #333;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: none;
    border-radius: 1px;
}

input[type="radio"]:checked+.radio-btn:after {
    display: block;
}

input[type="radio"]:checked+.radio-btn:before {
    background-color: #fff;
    border-color: #333;
}

.input-price {
    width: 400px;
    height: 50px;
    border: 1px solid #181F34;
    border-radius: 30px;
    text-align: center;
    font-family: Manrope;
    font-size: 32px;
    font-weight: 700;
    line-height: 43.71px;
}

.input-price:focus {
    outline: none;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.styled-textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border: 1px solid #181F34;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    resize: vertical;
    color: #333;

}

.styled-textarea:focus {
    outline: none;
}

.container-place h4 {
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 38.73px;
    color: #181F34;
    margin-bottom: 10px;
    text-decoration: wavy;
}

.container-place span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.2px;
    color: #181F34;
}

.btn-place {
    width: 250px;
    height: 50px;
    border: 1px solid #2338A2;
    border-radius: 30px;
    color: #2338A2;
    background-color: white;
    cursor: pointer;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.2px;
    margin: auto;
}

.btn-place:active {
    background-color: #2338A2;
    color: white;
    
}